body{
    font-family: 'Lato', sans-serif;
    font-family: 'Lora', serif;
}
.img1{
    height: 75px;
    width: 90px;
    float: left;
    margin-right: 15px;
    }
    .nav1{
        float: left;
        font-size: small;
        background-color:  #badbf4;
        text-align: center;
        padding-right: 404px;
        padding-bottom: 20px;
        padding-left: 10px;
    }
    .nav2{
        float: left;
        font-size: small;
        background-color:  #badbf4;
        text-align: center;
        padding-right: 404px;
        padding-bottom: 20px;
    }
    .nav3{
        float: left;
        font-size: small;
        background-color:  #badbf4;
        text-align: center;
        padding-right: 404px;
        padding-bottom: 20px;
    }
    .div1{
        text-align: center;
        margin: auto;
        background-color: #abccff;
        width: 60%;
        height: 180px;
        padding: 10px;
        border-radius: 10%;
    }
    .heading1{
        font-size: xx-large;
    }
    p{
        font-size: large;
    }
    .img2{
        width: 35%;
        height: 30%;
        padding-left: 5%;
        float: left;
    }
    .heading2{
        font-size: larger;
        padding-left: 16%;
        float: left;
        padding-top: 80px;
        padding-left: 30px;
    }
    .img3{
        width: 20%;
        height: 15%;
        float: right;
        padding-right: 5%;
    }
    .heading3{
        font-size: larger;
        padding-top: 180px;
        padding-left: 50%;
    }
    .img4{
        float: left;
        width: 20%;
        height: 15%;
        padding-left: 5%;
        padding-bottom: 20px;
    }
    .heading4{
        float: left;
        font-size: larger;
        padding-top: 160px;
        padding-left: 1%;
    }
    .footer1{
        background-color:  #c0def6;
        height: 410px;
    }
    .heading4{
        padding-left: 10px;
        padding-top: 20px;
        font-size: large;
    }
    .p1{
        padding-left: 90px;
    }
    .p2{
        padding-left: 190px;
    }
    .heading5{
        font-size: large;
        padding-left: 350px;
    }
    .p3{
        padding-left: 175px;
    }
    .p4{
        padding-left: 178px;
    }
    .p5{
        padding-left: 140px;
    }
    .p6{
        padding-left: 155px;
    }
    .p7{
        padding-left: 213px;
    }
    .heading6{
        font-size: large;
        float: right;
        padding-right: 150px;
        padding-top: 20px;
    }
    .p8{
        padding-left: 150px;
    }
    .youtube{
        width: 80px;
        height: 75px;
        padding-right: 167px;
        float: right;
    }
    .instagram{
        width: 80px;
        height: 75px;
        padding-right: 167px;
        float: right;
    }
    .twitter{
        width: 80px;
        height: 75px;
        padding-right: 167px;
        float: right;
    }
    .footer2{
        background-color: #a9d9fe;
        font-size: large;
        text-align: center;
        padding-top: 10px;
    }
    .p9{
        text-align: center;
        padding-bottom: 25px;
    }
    .div2{
        padding-top: 10px;
    }