body{
    background-color: #b4d0fb;
        font-family: 'Lato', sans-serif;
           font-family: 'Lora', serif;;
}
.nav1{
    float: left;
    font-size: small;
    background-color: #badbf4;
    text-align: center;
    padding-right: 395px;
    padding-bottom: 20px;
    padding-left: 10px;
}

.nav2{
    float: left;
    font-size: small;
    background-color:  #badbf4;
    text-align: center;
    padding-right: 395px;
    padding-bottom: 20px;
}
.nav3{
    float: left;
    font-size: small;
    background-color:  #badbf4;
    text-align: center;
    padding-right: 395px;
    padding-bottom: 20px;
}
.img1{
    height: 75px;
    width: 90px;
    float: left;
    margin-right: 15px;
    }
    a:active {
        color: red;
        text-decoration: none;
        }
        a:link {
            color: black;
            text-decoration: none;
        }
        a:visited {
            color: black;
            text-decoration: none;
        }
        a:hover {
            color: rgb(170, 255, 252);
            text-decoration: none;
        }
.img2{
    width: 20%;
    margin: 26px;
    border: 10px solid rgb(41, 102, 151);
    border-radius: 20%;
    height: 350px;
}
.img3{
    width: 20%;
    margin-left: 9%;
    border: 10px solid rgb(41, 102, 151);
    border-radius: 20%;
    height: 350px;
}
.img4{
    width: 20%;
    margin-left: 20%;
    border: 10px solid rgb(41, 102, 151);
    border-radius: 20%;
    height: 350px;
}
.img5{
    width: 20%;
    margin-left: 41%;
    border: 10px solid rgb(41, 102, 151);
    border-radius: 20%;
    height: 350px;
}
.div2{
    padding-top: 10px;
}
.footer1{
    background-color:  #c0def6;
    height: 410px;
}
.heading4{
    padding-left: 10px;
    padding-top: 20px;
    font-size: large;
}
.p1{
    padding-left: 90px;
}
.p2{
    padding-left: 190px;
}
.heading5{
    font-size: large;
    padding-left: 350px;
}
.p3{
    padding-left: 175px;
}
.p4{
    padding-left: 178px;
}
.p5{
    padding-left: 140px;
}
.p6{
    padding-left: 155px;
}
.p7{
    padding-left: 213px;
}
.heading6{
    font-size: large;
    float: right;
    padding-right: 150px;
    padding-top: 20px;
}
.p8{
    padding-left: 150px;
}
.youtube{
    width: 80px;
    height: 75px;
    padding-right: 167px;
    float: right;
}
.instagram{
    width: 80px;
    height: 75px;
    padding-right: 167px;
    float: right;
}
.twitter{
    width: 80px;
    height: 75px;
    padding-right: 167px;
    float: right;
}
.footer2{
    background-color: #a9d9fe;
    font-size: large;
    text-align: center;
    padding-top: 10px;
}
.p9{
    text-align: center;
    padding-bottom: 25px;
}