body{
    font-family: 'Lato', sans-serif;
    font-family: 'Lora', serif;
}
.img1{
    height: 75px;
    width: 90px;
    float: left;
    margin-right: 15px;
    }
.nav1{
        float: left;
        font-size: small;
        background-color:  #badbf4;
        text-align: center;
        padding-right: 401px;
        padding-bottom: 20px;
        padding-left: 10px;
    }
.nav2{
        float: left;
        font-size: small;
        background-color:  #badbf4;
        text-align: center;
        padding-right: 401px;
        padding-bottom: 20px;
    }
    .nav3{
        float: left;
        font-size: small;
        background-color:  #badbf4;
        text-align: center;
        padding-right: 401px;
        padding-bottom: 20px;
    }

    .img2{
        padding-top: 30px;
        width:  100px;
        height: 100px;
    }
    .footer1{
        background-color:  #c0def6;
        height: 410px;
    }
    .heading4{
        padding-left: 10px;
        padding-top: 20px;
        font-size: large;
    }
    .p1{
        padding-left: 90px;
    }
    .p2{
        padding-left: 190px;
    }
    .heading5{
        font-size: large;
        padding-left: 350px;
    }
    .p3{
        padding-left: 175px;
    }
    .p4{
        padding-left: 178px;
    }
    .p5{
        padding-left: 140px;
    }
    .p6{
        padding-left: 155px;
    }
    .p7{
        padding-left: 213px;
    }
    .heading6{
        font-size: large;
        float: right;
        padding-right: 150px;
        padding-top: 20px;
    }
    .p8{
        padding-left: 150px;
    }

    .youtube{
        width: 80px;
        height: 75px;
        padding-right: 167px;
        float: right;
    }

    .instagram{
        width: 80px;
        height: 75px;
        float: right;
        padding-right: 167px;
    }

    .twitter{
        width: 80px;
        height: 75px;
        padding-right: 167px;
        float: right;
    }
    .footer2{
        background-color: #a9d9fe;
        font-size: large;
        text-align: center;
        padding-top: 10px;
    }
    .p9{
        text-align: center;
        padding-bottom: 25px;
    }
    .div1{
        text-align: center;
        background-color: #b1dcfe;
        width: 41%;
        margin: auto;
        padding-right: 30px;
        padding-bottom: 30px;
        margin-bottom: 20px;
    }